.v-audio {
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.v-audio .audio-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.v-audio .audio-controls button {
    background: none;
    border: none;
    border-radius: 0;
}
.v-audio .audio-controls img {
    width: 1rem;
}
.v-audio .audio-controls input[type='range'] {
    overflow: hidden;
    -webkit-appearance: none;
    width: 80%;
    outline: none;
    height: 10px;
    margin: 0 10px;
    background-color: #a3cac1;
    border-radius: 15px;
}
.v-audio .audio-controls input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 0;
    width: 0;
    background-color: transparent;
/*     border-radius: 50%; */
    box-shadow: -50vw 0 0 50vw #1e6f5c;
}
.v-audio .audio-soundwave {
    /* width: 400px;
    height: 200px; */
    margin: 20px 0 10px;
    width: 100%;
    text-align: center;
}
.v-audio .audio-soundwave.play span {
    animation: soundWave 1s linear infinite;
}
.v-audio .audio-soundwave span {
    display: inline-block;
    background-color: #1e6f5c;
    width: 6px;
    height: 20px;
    border-radius: 2px;
    margin: 0 3px;
}
.v-audio .sw-1 {
    animation-delay: .8s !important;
}
.v-audio .sw-2 {
    animation-delay: .6s !important;
    height: 30px !important;
    margin-bottom: -5px !important;
}
.v-audio .sw-3 {
    animation-delay: .4s !important;
}
.v-audio .sw-4 {
    animation-delay: .2s !important;
    height: 30px !important;
    margin-bottom: -5px !important;
}
.v-audio .sw-5 {
    animation-delay: .0s !important;
}
@keyframes soundWave {
    0%, 50%{
        transform: scaleY(1);
    }
    25% {
        transform: scaleY(2);
    }
}
.v-audio .audio-duration {
    width: 80%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid  #AFAFAF;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    color: #14213D;
}